@import url('https//fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #2d2c2c;
  --purple-solid: #350a4f;
  --purple-transparent: rgba(53, 10, 79, .7);
  --purple-transparent-alt: rgba(53, 10, 79, .5);
  --purple-light: #8f50fb;
  --yellow-solid: #fa9e2c;
  --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
  --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

html{
  font-size: 10px;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: var(--dark-color);
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

section{
  padding: 5rem 0;
}

.btn{
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: .5rem 3.5rem;
  border: none;
  border-radius: 10rem;
  display: inline-flex;
  align-items: center;
}

.container{
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.form-btn{
  margin-top: 2.5rem;
  cursor: pointer;
}

.btn-gradient {
  background-image: var(--gradient-color);
}

.btn-gradient:hover {
  background-image: var(--gradient-color-alt);
}

.btn-purple {
  background-color: var(--purple-solid);
  transition: background-color .5s;
}

.btn-purple:hover {
  background-color: #56247f;
}

.dots {
  font-size: 2.4rem;
  margin-left: .5rem;
  opacity: .75;
}

.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  background-color: var(--purple-transparent);
  z-index: 999;
  /*
  transition: background-color .5s, height .5s;
  */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header.active {
  background-color: var(--purple-solid);
}

.logo img{
  max-width: 20%;
}

.hamburger-menu{
  font-size: 2.6rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 1500;
}

.hamburger-menu .fa-times{
  display: none;
}

.menu-open .hamburger-menu .fa-times{
  display: block;
}

.menu-open .hamburger-menu .fa-bars{
  display: none;
}

.nav-list{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--purple-solid);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1400;
  opacity: 0;
  transform: scale(0);
  transition: opacity .5s;
}

.menu-open .nav-list{
  opacity: 1;
  transform: scale(1);
}

.nav-item:not(:last-child) {
  margin-bottom: .5rem;
}

.nav-link{
  display: block;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem;
}

.hero{
  width: 100%;
  height: 100vh;
  background: url("images/first-background-1920x1080.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 0;
}

/*
.hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: var(--purple-transparent-alt);
  z-index: -1;
}
*/

.hero::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: var(--purple-transparent-alt);
  z-index: -1;
}

.main-heading {
  color: #fff;
  line-height: 1;
  text-shadow: 1px 1px 1rem rgba(0, 0, 0, .5);
  margin-bottom: 2.5rem;
}

.title {
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.sub-title{
  font-size: 3.6rem;
  font-family: 'Courgette', cursive;
  font-weight: 300;
}

.subtitle{
  font-size: 3.6rem;
  font-family: 'Courgette', cursive;
  font-weight: 300;
}

.booking{
  background-image: var(--gradient-color);
}

.input-group{
  margin-bottom: 1.5rem;
}

.input-label {
  display: block;
  font-size: 1.3rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.input,
.options {
  outline: none;
  border: none;
  width: 100%;
  min-height: 4rem;
  padding: 1rem;
  font-weight: bold;
  color: #a5a5a5;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  resize: none;
}

::placeholder {
  color: inherit;
}

.section-head {
  text-align: center;
  margin-bottom: 5rem;
}

.heading {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
}

.sub-heading {
  font-size: 1.7rem;
  font-family: 'Courgette', cursive;
  font-weight: 300;
  color: #a5a5a5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
  grid-gap: 2.5rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.featured-hotels {
  height: 35rem;
  color: #fff;
  padding: 1rem;
  position: relative;
  z-index: 0;
}

.featured-hotels::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--purple-transparent-alt);
  z-index: -1;
}

.hotel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.hotel-name {
  font-size: 2.6rem;
}

.hotel-price {
  font-size: 1.8rem;
}

.hotel-rating {
  margin: 1rem 0 2.5rem;
}

.rating {
  color: var(--yellow-solid);
}
